<main class="content-wrap">
  <header class="header">
    <h1 class="title">REMBIRTHDAY</h1>
    <!-- <h2 class="title">{{ today.toLocaleDateString("en-GB") }}</h2> -->
    <select name="month" id="">
      @for (monthOption of monthsOptions; track $index) {
      <option [selected]="month.name == monthOption" [value]="monthOption">
        {{ monthOption }}
      </option>
      }
    </select>
    <select name="" id="" [value]="month.year">
      <option value="2022">2022</option>
      <option value="2023">2023</option>
      <option value="2024">2024</option>
    </select>

    <button class="btn" (click)="resetToday()">Today</button>

    <div class="pagination">
      <button class="btn" (click)="previousMonth()">-</button>
      <button class="btn margin-left-10" (click)="nextMonth()">+</button>
    </div>
  </header>

  <section class="calendar">
    @for (day of weekDays; track $index){
    <div>
      <strong>{{ day }}</strong>
    </div>
    } @for (calendarDate of month.calendar; track $index){
    <date [date]="calendarDate.date" [celebrants]="calendarDate.celebrants" />
    }
  </section>
  <button class="btn" (click)="openCreateCelebrantDialog()">
    Add celebrant
  </button>
</main>
<create-celebrant-dialog
  (onClose)="isCreateDialogVisible = false"
  [isVisible]="isCreateDialogVisible"
/>
