main {
  text-align: center;
}

h2 {
  color: #333;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.calendar div {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

h1 {
  font-size: 1.2em;
  margin: 5px 0;
}

/* create dialog */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay .dialog {
  width: 600px;
  background-color: white;
  min-height: 600px;
}
